
.imgBg {
    background-image: url("fondo1.png");
    height: 100Vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .groupCardDetail {
    margin-top: 10px;
    height: 20%;
    max-height: 100%;
    width: 98%;
    max-width: 98%;
    margin-left: 1%;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
 